html {
  font-size: 10px;
  background: url(images/milky-way.jpeg) bottom center;
  background-size: cover;
  background-attachment: fixed;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .3rem solid rgba(83, 86, 241, 0.5);
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(90, 89, 89, 0.198);
  text-shadow: 0 0 .5rem black;
  box-shadow: 0 0 2rem .1rem rgba(141, 241, 83, 0.657);
}

.playing {
  transform: scale(1.2);
  border-color:rgba(141, 241, 83, 0.411);
  box-shadow: 0 0 2rem .1rem rgba(141, 241, 83, 0.411);
  color: rgba(160, 243, 51, 0.438);
  background: rgba(141, 241, 83, 0.157);
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #00f7ff;
}


.hexagon {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #ffffff0a;
  margin: 28.87px 0;
  box-shadow: 0 0 20px rgba(0,255,0,0.55);
  border-left: solid 2px #333333;
  border-right: solid 2px #333333;
}

